@import "tailwindcss";

:root {
  --background: black;
  --foreground: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-iransans), sans-serif;
}

[data-theme='dark'] {
  --background: white;
  --foreground: black;
}


html {
  scrollbar-gutter: stable;
}

img {
  max-width: 100%!important;
  max-height: 100%!important;
}